:root {
  --shadow: #00000067;
  --accent-light: #dff0ff;
  --dark: #000c25;
  --principal: #233950;
}

@font-face {
  font-family: rubik;
  src: url(../assets/fonts/Rubik-VariableFont_wght.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: rubik, sans-serif;
  scroll-snap-type: y proximity;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  scroll-snap-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--principal);
  color: var(--accent-light);
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 1rem;
}

header nav a {
  text-decoration: none;
  color: var(--accent-light);
  transition: 0.5s;
  padding: 0.8rem;
  border-radius: 1.8rem;
  font-weight: 500;
}

header nav a:hover {
  background-color: var(--shadow);
  color: var(--accent-light);
}

.landing {
  scroll-snap-align: center;
  min-height: 100vh;
  background-image: url(../assets/images/oceano.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.landing h2 {
  font-size: 5rem;
  font-weight: bold;
  mix-blend-mode: overlay;
}

.landing h3 {
  font-size: 2rem;
  font-weight: bold;
  mix-blend-mode: overlay;
}

.sec {
  scroll-snap-align: center;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 6rem;
  gap: 5rem;
  color: var(--dark);
  flex-wrap: wrap;
}

.sec h2 {
  font-size: 3rem;
}

.sec p {
  font-size: 1.3rem;
  text-align: justify;
}

.sec .biggerSide {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sec .biggerSide .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sec .smallerSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.sec .smallerSide .singleImage > img {
  height: 30rem;
  width: 25rem;
  object-fit: cover;
}

.sec .smallerSide .doubleImage {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.sec .smallerSide .doubleImage img {
  height: 9rem;
  width: auto;
}

.sec .entire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.sec .entire p {
  font-size: 1.5rem;
  text-align: center;
}

.sec .doubleSec {
  display: flex;
  justify-content: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.sec .doubleSec .medSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sec .doubleSec .medSide h2 {
  text-align: center;
}

.sec .biggerOnRight {
  align-items: flex-end;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--principal);
  color: var(--accent-light);
}

#subirBtn {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
}

#subirBtn a {
  color: var(--accent-light);
  text-decoration: none;
  background-color: var(--principal);
  padding: 1.2rem 1.4rem;
  border-radius: 4rem;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.5rem;
}

#subirBtn a:hover {
  background-color: var(--shadow);
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  header nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  .landing {
    text-align: center;
    padding: 1rem;
  }

  .landing h2 {
    font-size: 3rem;
  }

  .landing h3 {
    font-size: 1.5rem;
  }

  .sec {
    flex-direction: column;
    margin: 0 2rem;
    gap: 1rem; 
    text-align: center;
    padding: 1rem;
  }

  .sec h2 {
    font-size: 2rem;
  }

  .sec p {
    font-size: 1rem;
  }

  .sec .biggerSide {
    flex: 1;
    gap: 0.5rem; 
  }

  .sec .smallerSide {
    flex: 1;
    gap: 0.5rem; 
  }

  .sec .smallerSide .singleImage > img {
    height: auto;
    width: 100%;
  }

  .sec .smallerSide .doubleImage img {
    height: auto;
    width: 45%;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  .landing h2 {
    font-size: 2rem;
  }

  .landing h3 {
    font-size: 1rem;
  }

  .sec {
    flex-direction: column;
    gap: 0.5rem;
  }

  .sec h2 {
    font-size: 1.5rem;
  }

  .sec p {
    font-size: 0.9rem;
  }

  .sec .biggerSide {
    gap: 0.3rem; 
  }

  .sec .smallerSide {
    gap: 0.3rem; 
  }

  .sec .smallerSide .doubleImage img {
    height: auto;
    width: 48%;
  }

  .sec.sec1 .biggerSide,
  .sec.sec4 .biggerSide {
    order: 1;
  }

  .sec.sec1 .smallerSide,
  .sec.sec4 .smallerSide {
    order: 2;
  }

  .sec.sec1 .smallerSide .singleImage > img,
  .sec.sec4 .smallerSide .singleImage > img {
    width: 100%;
    height: auto;
    margin-top: -10px; 
  }

  .sec.sec2 .smallerSide,
  .sec.sec3 .smallerSide {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .sec.sec2 .smallerSide .doubleImage,
  .sec.sec3 .smallerSide .doubleImage {
    flex-direction: column;
    align-items: center;
  }

  .sec.sec2 .smallerSide .doubleImage img,
  .sec.sec3 .smallerSide .doubleImage img {
    width: 48%;
    height: auto;
  }
}